resources:
  - ../../bases/web

namespace: test-a-prod

namePrefix: test-a-prod-

commonLabels:
  project: test-a
  env: production

configurations:
  - ../../configs/kustomize-config.yaml

patches:
  - path: ingress.yaml
  - path: deployment.yaml