apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: test-a-prod

configMapGenerator:
- literals:
  - PROJECT_SLUG=test-a
  - ENV_SLUG=prod
  name: project-env-values
  options:
    disableNameSuffixHash: true

images:
- name: web
  newName: ghcr.io/louishaftmann/kubernetes-test-app
  newTag: eff216cf35e67186b6429446a42addd10c0fc272

components:
- ../../bases/web
- ../../bases/infisical

configurations:
- ../../configs/kustomize-config.yaml

patches:
- path: ingress.yaml
