apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: test-a-prod
namePrefix: test-a-prod-

configMapGenerator:
  - name: project-env-values
    literals:
      - PROJECT_SLUG=test-a
      - ENV_SLUG=prod
    options:
      disableNameSuffixHash: true

images:
- name: test-a
  newName: ghcr.io/louishaftmann/kubernetes-test-app
  newTag: 06598925d24f435cf014600d53c0e5f928245938

components:
- ../../bases/web
- ../../bases/infisical

configurations:
- ../../configs/kustomize-config.yaml

patches:
- path: ingress.yaml
