apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: test-a-prod
namePrefix: test-a-prod-

configMapGenerator:
- literals:
  - PROJECT_SLUG=test-a
  - ENV_SLUG=prod
  name: project-env-values
  options:
    disableNameSuffixHash: true

images:
- name: test-a
  newName: ghcr.io/louishaftmann/kubernetes-test-app
  newTag: 06598925d24f435cf014600d53c0e5f928245938
- name: test-a-prod
  newName: ghcr.io/louishaftmann/kubernetes-test-app
  newTag: 63cbd2ce93b51eec15d285310cf6ca4b96bb868b

components:
- ../../bases/web
- ../../bases/infisical

configurations:
- ../../configs/kustomize-config.yaml

patches:
- path: ingress.yaml
