apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: test-a-prod
namePrefix: test-a-prod-

configMapGenerator:
- literals:
  - PROJECT_SLUG=test-a
  - ENV_SLUG=prod
  name: project-env-values
  options:
    disableNameSuffixHash: true

images:
- name: test-a-prod-web
  newName: ghcr.io/louishaftmann/kubernetes-test-app
  newTag: 570addad38147798851153d2efdd72c1ca76ea50

components:
- ../../bases/web
- ../../bases/infisical

configurations:
- ../../configs/kustomize-config.yaml

patches:
- path: ingress.yaml
