apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: test-b-prod

configMapGenerator:
- literals:
  - PROJECT_SLUG=test-b
  - ENV_SLUG=prod
  name: project-env-values
  options:
    disableNameSuffixHash: true

images:
- name: web
  newName: ghcr.io/louishaftmann/kubernetes-test-app
  newTag: 63cbd2ce93b51eec15d285310cf6ca4b96bb868b

components:
- ../../bases/web
- ../../bases/infisical

configurations:
- ../../configs/kustomize-config.yaml

patches:
- path: ingress.yaml
